.footer {
  padding: 0 0 120px 0;
  font-family: DM Sans;

  &__container {
    width: 1098px;
    padding: 0 15px;
  }

  &__get-started {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 40px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #1111111a;
  }

  &__sub-title {
    margin: 0 40px 0 0;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.3px;
  
  }

  &__menu {
    display: flex;
    margin: 0 0 40px 0;
  }

  &__subscribe-form {
    margin: 0 100px 0 0;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    &:not(:last-child) {
      margin: 0 170px 0 0;
    }
  }

  &__nav-link {
    display: inline-block;
    margin: 0 0 20px 0;
    color: #10b981;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.25px;


  }

  &__nav-sub-item {
    margin: 0 0 20px 0;
  }

  &__nav-sub-link {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.25px;

    &:hover {
      color: #10b981;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__rules {
  }

  &__rules-link {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.25px;
    &:not(:last-of-type) {
      margin: 0 40px 0 0;
    }
  }

  &__socials {
    display: flex;
  }

  &__social-item {
    &:not(:last-child) {
      margin: 0 40px 0 0;
    }
  }

  &__social-link {
    &:hover {
      color: #10b981;
    }
  }
}
